{% extends "aplus/layout.html" %}

{% block extrahead %}

<!--  MathJax (LaTex math)
There is no data-aplus attribute here because conf.py includes MathJax.js
in the A+ course head URLs. The Moodle Astra plugin does not work
if MathJax.js is included in every chapter file with the data-aplus attribute
because Moodle already includes the JS code at any rate and MathJax.js
breaks completely if the library is included multiple times in
the same HTML document. The Moodle Astra plugin does not use the course
head URLs setting at all, whereas A+ includes the JS in every course page.
-->
<script type="text/javascript" async id="MathJax-script"
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<!-- Custom course styles -->
<link rel="stylesheet"
      href="{{ pathto('_static/css/custom_course_style.css', 1) }}"
      type="text/css"
      data-aplus />

{% endblock %}
